.authBox {
  width: 700px;
  overflow: hidden;
  margin: 80px auto 30px;
}
.leftBox {
  width: 300px;
  height: 480px;
  float: left;
  position: relative;
  display: block;
}
.rightBox {
  width: 400px;
  height: 480px;
  float: right;
  border: 1px solid #006cbc;
}
.bgGreen {
  width: 100%;
  height: 100%;
  background-color: "blue";
  background-image: linear-gradient(blue, white, green);
  border-top-left-radius: 90px;
}
.imageAuth {
  background-image: url("../Components/Screens/sankar.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 90px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}
.imageAuth {
  font-size: 20px;
  position: absolute;
  color: #ffffff;
}
.imageText {
  font-size: 20px;
  position: absolute;
  color: #ffffff;
}
.imageText.bold {
  font-weight: bold;
  color: black;
}
.imageText.style1 {
  top: 360px;
  left: 12px;
}
.imageText.style2 {
  font-size: 18px;
  color: black;
  top: 390px;
  text-align: center;
}
.box {
  width: 310px;
  height: 415px;
  margin: 32px auto;
}
.titleAuth {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  color: blue;
}
.inputbox {
  width: 300px;
  height: 42px;
  border-bottom: 2px solid #d8d8d8;
  margin-bottom: 10px;
}
.inputs {
  width: 100%;
  height: 98%;
  font-size: 14px;
  color: #37353f;
  text-indent: 10px;
  border: 0;
  outline: none;
}
.contentBox {
  overflow: hidden;
  height: 42px;
  margin-bottom: 30px;
}
.checkboxbox {
  overflow: hidden;
  float: left;
}
.checkbox {
  float: left;
  margin-top: 4px;
}
.checkboxLabel {
  float: left;
  font-size: 14px;
  margin-left: 5px;
  color: #37353f;
}
.text {
  float: right;
  font-size: 14px;
  color: #006cbc;
  cursor: pointer;
}
.btnAuth {
  width: 300px;
  height: 47px;
  color: #ffffff;
  background-color: rgb(10, 61, 228);
  text-align: center;
  line-height: 47px;
  border-radius: 4px;
  cursor: pointer;
}
.borderbox {
  width: 300px;
  height: 47px;
  position: relative;
  margin: 20px 0;
}
.line {
  border-bottom: 2px solid #d8d8d8;
  position: absolute;
  top: 22px;
  width: 100%;
  z-index: -1;
}
.text1 {
  font-size: 14px;
  color: #818487;
  z-index: -1;
}
.text1.or {
  position: absolute;
  top: 14px;
  left: 140px;
  width: 25px;
  height: 16px;
  background-color: #ffffff;
  text-align: center;
}
.socialmedialinks {
  overflow: hidden;
  width: 184px;
  height: 47px;
  margin: 0 auto;
}
.icAuth {
  width: 41px;
  height: 41px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  margin-right: 30px;
  cursor: pointer;
}
.icAuth:last-child {
  margin-right: 0;
}
.icAuth.google {
  background-image: url("../Components//Screens/google.png");
  margin-top: -25px;
}
.icAuth.facebook {
  background-image: url(https://img.icons8.com/doodle/2x/facebook-new.png);
  margin-left: 100px;
  margin-top: -25px;
}

@media screen and (max-width: 768px) {
  .authBox {
    width: 100%;
  }
  .leftBox {
    display: none;
  }
  .rightBox {
    width: 100%;
    float: initial;
    border: 0;
  }
}
